<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hewuzhao.frameanimation">

    <application
        android:name=".FrameApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".blobcache.BlobCacheService" />

        <provider
            android:name=".frameview.FrameImageInitProvider"
            android:authorities="com.hewuzhao.frameanimation.frameimageinitprovider"
            android:exported="false" />

    </application>
</manifest>
